#contactMail {
    margin-top: 80px;
    text-align: center;
    font-size: 20px;
}

#logosSocialNetwork {
    margin-top: 80px;
    text-align: center;

}

#logosSocialNetwork>* {
    margin-right: 50px;
    height: 100px;
}

#logosSocialNetwork>*:last-child {
    margin-right: 0;
}

img:hover {
    cursor: pointer;
}
