<div class="pageContainer">
    <div class="productBacklogContainer">
        <h1 class="title robotoMedium">Product Backlog</h1>
        <div *ngFor="let userStory of productBacklog; let i = index;"
             class="alignCenter">
            <span [routerLink]="['/comments', userStory.id, projectName]"
                class="standardCard radius robotoLight cursorPointer">US{{userStory.priority}} : {{userStory.name}}</span>
            <input *ngIf="isProductOwner"
                   type="button" value="Delete" (click)="deleteUserStory(userStory);"
                   class="cursorPointer inputSizeSubmitSmall robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom">
            <input *ngIf="isProductOwner"
                   type="button" value="Modify"
                   class="cursorPointer inputSizeSubmitSmall robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom"
                   [routerLink]="['/modifyUserStory', projectName, idProject, userStory.id]">
        </div>

        <input *ngIf="isProductOwner"
               type="button" value="Add User story"
               class="cursorPointer inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom"
               [routerLink]="['/createUserStory', projectName, idProject]">
        <br/>
        <input
            [routerLink]="['/myProject', projectName]"
            type="button"
            value="Back"
            (mousedown)="toggleButtonPress(true);"
            (mouseup)="toggleButtonPress(false);"
            (mouseleave)="toggleButtonPress(false);"
            [ngClass]="{'isPressedClass': isButtonPressed === true}"
            class="cursorPointer inputSizeBack robotoMedium bgLightRed radius noBorder fontSizeMedium shadowBottom">
    </div>
</div>
