<div class="sprintContainer">
    <h1 class="robotoMedium">Requests for your project</h1>
    <h2 class="robotoMedium">ScrumMaster Request</h2>
    <div *ngFor="let eltUsers of appliedScrumMasters; let i = index;"
         [class.active]="clicked !== eltUsers"
         class="alignCenter requestUsersContainer robotoLight">

        <span [hidden]="isScrumMasterEmpty">Already include a ScrumMaster</span>

        <input
            type="button"
            value="{{eltUsers.lastname}} {{eltUsers.firstname}}"
            (click)="clicked = (clicked === eltUsers ? null :eltUsers)"
            class="robotoLight cursorPointer radius standardCard">

        <div class="options radius alignCenter">
            <span class="colorGreen cursorPointer"[hidden]="!isScrumMasterEmpty" (click)="accept(eltUsers)">{{acceptTxt}}</span>
            <span [hidden]="!isScrumMasterEmpty"> | </span> <span class="colorRed cursorPointer" (click)="refuse(eltUsers)">Refuse</span>
        </div>
    </div>
    <span *ngIf="appliedScrumMasters.length==0"
          class="cursorPointer radius standardCard robotoLight">
                <span>No ScrumMaster Request found.</span>
    </span>

    <h2 class="robotoMedium">Developers Request</h2>
    <div *ngFor="let eltUsers of appliedDevelopers; let i = index;"
         [class.active]="clicked !== eltUsers"
         class="alignCenter requestUsersContainer">

        <input
            type="button"
            value="{{eltUsers.lastname}} {{eltUsers.firstname}}"
            (click)="clicked = (clicked === eltUsers ? null :eltUsers)"
            class="cursorPointer radius standardCard">

        <div class="options radius alignCenter">
            <span class="colorGreen cursorPointer" (click)="accept(eltUsers)">Accept</span> | <span class="colorRed cursorPointer" (click)="refuse(eltUsers)">Refuse</span>
        </div>
    </div>
    <span *ngIf="appliedDevelopers.length==0"
          class="cursorPointer radius standardCard robotoLight">
                <span>No Developer Request found.</span>
    </span>
</div>
