<h1 class="title robotoMedium">{{title}}</h1>

<br/>
<h2 class="robotoMedium">What is ScrumOrganisationSuccess ?</h2>
<p class="robotoLight">
    Developed by <a routerLink="../team">our team</a> ScrumOrganisationSuccess (SOS) is a useful opensource project
    which allows your enterprise to organise your sprints, meetings or user stories. Everything in this website reflects
    the SCRUM agile method.
    <br/>
    Organise your project with ease, a calendar is at your disposal to have an overview of your upcoming meetings.
    Organise your audio and/or video calls on SOS ! Thanks to <a href="https://meet.jit.si" target="_blank">Jitsi API</a>,
    your calls are made easy !
</p>

<br/>
<h2 class="robotoMedium">The SCRUM method ?</h2>
<p class="robotoLight">
    The SCRUM method is an agile method which allows your development team to work by iterative sprints. Each sprint
    allows you to show a functional version of the project to your client. These working outputs allows the product owner
    to have a better overview of how is going the project development and to conduct the scrum master and the developers
    in the best possible way to be as close as possible to what he has imagined.
</p>
