<div class="inputContainer">
    <h1 class="robotoMedium title">{{username}}'s projects</h1>

    <h2  class="robotoMedium">{{subtitles[0]}}</h2>
        <div *ngFor="let project of activeProject; let index = index;" class="myProject inputContainer">
            <span [routerLink]="['/myProject', project.name]"
                 class="cursorPointer radius standardCard robotoLight">
                <span>{{project.name}}</span>
            </span>
            <button *ngIf="isProductOwner"
                    class="cursorPointer inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom"
                    (click)="terminate(project);">Terminate</button>
        </div>
            <span *ngIf="activeProject.length==0"
                class="cursorPointer radius standardCard robotoLight">
                <span>No projects found.</span>
            </span>

    <h2 class="robotoMedium">{{subtitles[1]}}</h2>
    <ul class="oldProjects">
        <li [routerLink]="['/myProject', project.name]"
            class="cursorPointer radius standardCard robotoLight"
            *ngFor="let project of oldProjects">
            {{project.name}}</li>
    </ul>
    <span *ngIf="oldProjects.length==0"
    class="cursorPointer radius standardCard robotoLight">
        <span>No projects found.</span>
    </span>

    <input
        [routerLink]="['/createProject']"
        *ngIf="isProductOwner && activeProject.length == 0"
        type="button"
        class="cursorPointer inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom"
        value="New project"
        (mousedown)="toggleButtonPress(true);"
        (mouseup)="toggleButtonPress(false);"
        (mouseleave)="toggleButtonPress(false);"
        [ngClass]="{'isPressedClass': buttonPressed === true}"
        [disabled]="isProjectAlreadyExist==true">
</div>
