<div class="pageContainer">
    <div class="infosProjectContainer">
        <h1 class="robotoMedium title">{{projectName}}'s preview</h1>

        <h2 class="title robotoMedium">Project name</h2>
        <p class="standardCard radius robotoLight">{{projectName}}</p>

        <h2 class="robotoMedium paddingSubtitle">Deadline</h2>
        <p class="standardCard radius robotoLight">{{deadline}}</p>

        <h2 class="robotoMedium paddingSubtitle">Description</h2>
        <p class="standardCard radius robotoLight">{{description}}</p>

        <br/>
        <input
            [routerLink]="['/joinProject']"
            type="button"
            value="Back"
            (mousedown)="toggleButtonPress(true);"
            (mouseup)="toggleButtonPress(false);"
            (mouseleave)="toggleButtonPress(false);"
            [ngClass]="{'isPressedClass': isButtonPressed === true}"
            class="cursorPointer inputSizeBack robotoMedium bgLightRed radius noBorder fontSizeMedium shadowBottom">
    </div>
</div>
