h2 {
    padding-top: 20px;
}

input {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.active p {
    display:none;
}

.alignCenter {
    text-align: center;
}

.infosProjectContainer input {
    margin-top: 20px;
}
