<div class="pageContainer">
    <div class="productBacklogContainer">
        <h1 class="title robotoMedium">Users from the project</h1>
        <div *ngFor="let user of users; let i = index;"
             class="alignCenter">
            <span class="standardCard radius robotoLight">{{user.firstname}} {{user.lastname}}</span>
            <input *ngIf="isProductOwner"
                   type="button" value="Delete" (click)="deleteUserProject(user);"
                   class="cursorPointer inputSizeSubmitSmall robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom">
        </div>
        <input
            [routerLink]="['/myProject', projectName]"
            type="button"
            value="Back"
            (mousedown)="toggleButtonPress(true);"
            (mouseup)="toggleButtonPress(false);"
            (mouseleave)="toggleButtonPress(false);"
            [ngClass]="{'isPressedClass': isButtonPressed === true}"
            class="cursorPointer inputSizeBack robotoMedium bgLightRed radius noBorder fontSizeMedium shadowBottom">
    </div>
</div>
