<div class="columnContainer">
    <form [formGroup]="form" (ngSubmit)="sendData()"
          (dblclick)="autoComplete()">
        <div class="inputContainer" formGroupName="main">
            <div class="formSize bgLightBlue radius marginTop formMargin">
                <h1 class="robotoMedium title">{{title}}</h1>

                <h2 class="robotoMedium">User Story Name</h2>
                <input type="text"
                       formControlName="name"
                       class="inputLog noOutlineOnFocus radius inputSize paddingLeft robotoLight"
                       placeholder="User Story Name">

                <h2 class="robotoMedium">Description</h2>
                <textarea
                    formControlName="description"
                    rows="4" cols="50"
                    class="robotoLight"></textarea>

                <h2 class="robotoMedium">Priority</h2>
                <input type="text"
                       formControlName="priority"
                       class="inputLog noOutlineOnFocus radius inputSize paddingLeft robotoLight"
                       placeholder="Priority">

                <input
                    (mousedown)="toggleButtonPress(true);"
                    (mouseup)="toggleButtonPress(false);"
                    (mouseleave)="toggleButtonPress(false);"
                    [ngClass]="{'isPressedClass': buttonIsPressed === true}"
                    id="btnSignUp"
                    type="submit"
                    value="Modify"
                    [disabled]="form.invalid"
                    class="cursorPointer inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom">

                <div>
                    <div class="elementMyProject">
                        <input
                            [routerLink]="['/productBacklog', projectName, idProject]"
                            type="button"
                            value="Back"
                            (mousedown)="toggleBackButtonPress(true);"
                            (mouseup)="toggleBackButtonPress(false);"
                            (mouseleave)="toggleBackButtonPress(false);"
                            [ngClass]="{'isPressedClass': isBackButtonPressed === true}"
                            class="cursorPointer inputSizeBack robotoMedium bgLightRed radius noBorder fontSizeMedium shadowBottom marginTop">
                    </div>
                </div>
            </div>
            <div *ngIf="isPriorityNaN"
                 class="alignCenter sizeNormal">
                <p class="robotoMedium red bgWhiteBlue radius border padding marginTop alignText">
                    Priority should be a number
                </p>
            </div>
            <div *ngIf="isUpdateOk"
                 class="alignCenter sizeNormal">
                <p class="robotoMedium bgWhiteBlue radius border padding marginTop alignText">
                    The user story has been modified successfully.
                </p>
            </div>
            <div *ngIf="userStoryAlreadyExists"
                 class="alignCenter sizeNormal">
                <p class="robotoMedium red bgWhiteBlue radius border padding marginTop alignText">
                    This user story already exists !
                </p>
            </div>
        </div>
    </form>
</div>
