<div class="pageContainer">
    <div class="CommentsPageContainer">
        <span class="standardCard radius">US{{actualUserStory.priority}} - {{actualUserStory.name}} : {{actualUserStory.description}}</span>
        <h1 class="title robotoMedium">Comments</h1>

        <div *ngFor="let elt of commentUser;" class="commentsContainer">
            <div class="standardCard radius commentStyle">
                <span>{{elt.user.firstname}}</span>
                <span class="bold">{{formatDate(elt.comment.postedAt)}}</span>
                <span>{{elt.comment.content}}</span>
            </div>
        </div>

        <h2 class="robotoMedium">Content</h2>
        <form>

        </form>
        <textarea
            [(ngModel)]="addContent"
            rows="4" cols="50"
            class="robotoLight"></textarea>
        <br/>

        <input (click)="addComment();"  type="button" value="Add Comments"
                class="cursorPointer inputSizeSubmit robotoMedium bgWhiteBlue radius noBorder fontSizeMedium shadowBottom">

        <input
            [routerLink]="['/productBacklog', projectName, idProject]"
            type="button"
            value="Back"
            (mousedown)="toggleBackButtonPress(true);"
            (mouseup)="toggleBackButtonPress(false);"
            (mouseleave)="toggleBackButtonPress(false);"
            [ngClass]="{'isPressedClass': isBackButtonPressed === true}"
            class="cursorPointer inputSizeBack robotoMedium bgLightRed radius noBorder fontSizeMedium shadowBottom marginTop">

    </div>
</div>
