<div class="inputContainer">
    <h1 class="title robotoMedium">List of upcoming and ongoing projects</h1>
    <h2 class="robotoLight paddingSubtitle" *ngIf="assigned">You are already assigned to a project</h2>

    <span class="cursorPointer standardCard radius robotoLight" *ngIf="IsNonAppliedEmpty">No projects</span>

    <div class="projectContainer"
         *ngFor="let project of nonAppliedProjects; let i = index;">
        <ul>
            <li class="cursorPointer standardCard radius robotoLight"
                [routerLink]="['/projectPreview', project.name]">{{project.name}}</li>
        </ul>
        <button (click)="joinProject(project)" [hidden]="assigned"
                class="cursorPointer colorGreen">
            Request to join
        </button>
    </div>
    <h1 class="title robotoMedium">List of projects you applied for</h1>
    <div class="projectContainer"
         *ngFor="let project of appliedProjects; let i = index;">
        <ul>
            <li class="cursorPointer standardCard radius robotoLight"
                [routerLink]="['/projectPreview', project.name]">{{project.name}}</li>
        </ul>
    </div>
</div>
